---

import Block from '@/components/Block.astro';
import BlockHero from "@/components/BlockHero.astro";
import BlockText from '@/components/BlockText.astro';
import Container from '@/components/Container.astro';
import Heading from '@/components/Heading.astro';
import Section from '@/components/Section.astro';
import Layout from '@/layouts/Layout.astro';
import { fetchPages } from '@/lib/directus';
import type { Page } from '@/lib/types';

let page: Page | Record<string, any>;

// Only for production purposes.
export async function getStaticPaths() {
  const pages = await fetchPages();
  return pages.map((p) => ({
    params: {
      slug: p.slug,
    },
    props: {
      ...p,
    },
  }));
}

// Only for preview/development purposes.
if (import.meta.env.NODE_ENV !== 'production') {
  const pages = await fetchPages();
  const { slug } = Astro.params;

  page = pages.find((p) => p.slug === `/${slug}` || slug === undefined && p.slug === undefined) as Page;
  if (!page) {
    return Astro.redirect('/404');
  }
} else {
  // From getStaticPaths above.
  page = Astro.props;
}
---

<Layout title={page.title}>
  {page.showTitle && <Section>
    <Container>
      <Heading>{page.title}</Heading>
    </Container>
  </Section>}
  {page.sections.map((section) => (
    <Section {...section.sections_id}>
      <Container>
        {section.sections_id.blocks.map((block) => (
            <Block block={block}>
              {block.collection === "block_hero" && <BlockHero {...block.item} />}
            </Block>
            <Block block={block}>
              {block.collection === "block_text" && <BlockText {...block.item} />}
            </Block>
        ))}
      </Container>
    </Section>
  ))}
</Layout>
