---
import type { fetchMainMenu } from '@/lib/directus';
import Container from '../components/Container.astro';
import MainNavigation from '../components/MainNavigation.astro';
import Section from '../components/Section.astro';
import genralData from '../data/general.json';

export interface Props {
  mainMenu: Awaited<ReturnType<typeof fetchMainMenu>>;
}

const { mainMenu } = Astro.props;
---

<header>
  <Section
    background='gray'
    standardPadding={false}
    section_styles={['full_width']}
  >
    <Container centered={false}>
      <div
        class='hidden h-[38px] items-center justify-between text-sm text-re-blue lg:flex'
      >
        <div>
          <a href={genralData.topInfo.link}>{genralData.topInfo.text}</a>
        </div>
        <div class='flex font-bold'>
          <div class='mr-12'>
            <i class='fa-solid fa-phone-flip mr-2'></i>
            <a href={`tel:${genralData.company.phone}`}
              >{genralData.company.phone}</a
            >
          </div>
          <div>
            <i class='fa-solid fa-location-dot mr-2'></i>{
              genralData.company.addressLine
            }
          </div>
        </div>
      </div>
    </Container>
  </Section>
  <Section standardPadding={false}>
    <Container centered={false}>
      <div class='relative my-[30px] flex items-end justify-between'>
        <a href='/'>
          <img
            src='/images/logo/logo-dark-re.png'
            class='h-16 lg:h-[89px]'
            alt='Logo Real Experts Network GmbH'
          />
        </a>
        <MainNavigation mainMenu={mainMenu} />
      </div>
    </Container>
  </Section>
</header>
