---
import type { fetchMainMenu, fetchMetaInformation } from '@/lib/directus';
import { getImage } from 'astro:assets';
import Footer from './Footer.astro';
import Header from './Header.astro';

export interface Props {
  title: string;
  mainMenu: Awaited<ReturnType<typeof fetchMainMenu>>;
  metaInformation: Awaited<ReturnType<typeof fetchMetaInformation>>;
}

const { title, mainMenu, metaInformation } = Astro.props;

const pageTitle = title ? `| ${title}` : '';

const metaTitle = metaInformation?.data?.meta_title || title;
const metaDescription = metaInformation?.data?.meta_description;
const metaImage = metaInformation?.data?.meta_image?.id;

let optimizedBackground;
if (metaInformation?.data?.meta_image) {
  const src = `${import.meta.env.DIRECTUS_URL}/assets/${
    metaInformation?.data?.meta_image.id
  }`;
  optimizedBackground = await getImage({
    src,
    format: 'jpg',
    width: metaInformation?.data?.meta_image.width,
    height: metaInformation?.data?.meta_image.height,
    quality: 80
  });
}
---

<!doctype html>
<html lang='de' class='scroll-smooth focus:scroll-auto'>
  <head>
    <meta charset='utf8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <link
      rel='stylesheet'
      type='text/css'
      href='/fonts/fontawesome/css/all.min.css'
    />
    <title>
      Real Experts {pageTitle}
    </title>

    {metaTitle && <meta name='title' content={metaTitle} />}
    {metaDescription && <meta name='description' content={metaDescription} />}
    {metaTitle && <meta property='og:title' content={metaTitle} />}
    {
      metaDescription && (
        <meta property='og:description' content={metaDescription} />
      )
    }
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://realexperts.de/' />
    {
      metaImage && (
        <meta
          property='og:image'
          content={`https://realexperts.de${optimizedBackground.src}`}
        />
      )
    }
  </head>
  <body class='caret-transparent'>
    <Header mainMenu={mainMenu} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  /* changa-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Changa';
    font-style: normal;
    font-weight: 400;
    src:
      url('../fonts/changa/changa-v20-latin-regular.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/changa/changa-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* changa-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Changa';
    font-style: normal;
    font-weight: 600;
    src:
      url('../fonts/changa/changa-v20-latin-600.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/changa/changa-v20-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src:
      url('../fonts/poppins/poppins-v20-latin-regular.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src:
      url('../fonts/poppins/poppins-v20-latin-500.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins/poppins-v20-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src:
      url('../fonts/poppins/poppins-v20-latin-700.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins/poppins-v20-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html,
  body {
    font-size: 18px;
  }
</style>
